.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-logo {
  width: 5em;
  height: 5em;
  animation: bounceIn 0.6s;
  transform: rotate(0deg) scale(1) translateZ(0);
  transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
  cursor: pointer;

  overflow: hidden;
}

.App-logo:hover {
  transform: rotate(10deg) scale(1.1);
}

.bubble { fill: #e76853; }
.icon { fill:  #fff; }

@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(.3);
  } 

  50% {
    opacity: 1;
    transform: scale(1.05);
  } 

  70% {
    opacity: 1;
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.App-header {
  background-color: #242735;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Search Bar */
input {
  border: 0px;
  border-bottom: 3px solid #f19fdd;
  outline: none;
  background: #242735;
  color: white;
  position: relative;
  margin-bottom: 5px;
  width: 300px;
  font-size: large;
  padding-bottom: 5px;
  padding-top: 5px;
}

.btn {
  border: 1px solid #c99ebe;
  background: none;
  padding: 10px 20px;
  font-size: large;
  cursor: pointer;
  margin: 10px;
  margin-bottom: 50px;
  width: 300px;
  
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn1 {
  color: #c99ebe;
}

.btn:hover {
  color: #242735;
  background: #c99ebe;
}

.card {
  display: flex;
  margin-top: 10%;
}